@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #d5d1b0;
  --color-secondary: #ecbe97;
  --color-accent: #f37a7e;
  --color-background: #fdf3e8;
  --color-footer: #5b7870;
  --font-mate: "Mate SC", cursive;
}
